body {
    font-family: Arial, sans-serif;
    color: #333; /* Cor da fonte do corpo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #0e0d0d;
}

header {
    text-align: center;
    margin: 10px;
    color: #7e1979; /* Cor da fonte do cabeçalho */
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    color: #333; /* Cor da fonte das células */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    color: #ffffff; /* Cor da fonte do botão */
    background-color: #af4c72; /* Cor do fundo do botão */
}

footer {
    text-align: center;
    margin: 10px;
    color: #777; /* Cor da fonte do rodapé */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px red;
    }
    50% {
        box-shadow: 0 0 20px red;
    }
    100% {
        box-shadow: 0 0 5px red;
    }
}

.cell.winner {
    animation: pulse 1s infinite;
}
